@keyframes modelFadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@layer components {
  .model {
    position: relative;
    opacity: 0;

    &[data-loaded='true'] {
      animation: modelFadeIn 1s ease forwards var(--delay);
    }
  }

  .canvas {
    position: absolute;
    inset: 0;
  }
}
